{% extends "admin/change_form.html" %} {% load i18n %}

{% block content %}
{{ block.super }}
<style>
        .required_field_red::after {
            content: "*";
            color: red;
            margin-left: 2px;
        }


</style>
<script>
        $(document).ready(function(jQuery) {
            function enableForPosAction () {
                shop_type = $("#id_shop_type").children("option:selected").text();
                if (shop_type == 'Franchise - foco' || shop_type == 'Franchise - fofo'){
                    $('.field-pos_enabled').removeClass('hidden');
                } else {
                    $('.field-pos_enabled').addClass('hidden');
                    $('#id_pos_enabled').prop("checked", false);
                }
            }

            enableForPosAction();

            document.getElementById('id_shop_type').onchange = function() {
                enableForPosAction();
            };
        });


</script>
{% endblock %}