{% extends "admin/change_list.html" %} {% load i18n %}
{% load static %}
{% load staticfiles %}
{% load total_counts %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:retailer_products_csv_upload' %}" class="addlink">Upload Retailer Products</a>
        <a href="{% url 'admin:retailer_product_multiple_images_upload' %}" class="addlink">Upload Retailer Products Multiple Images</a>
        <a href="{% url 'admin:retailer_products_csv_download_form' %}" class="addlink">Download Retailer Products</a>
    </li>
{% endblock %}