{% load i18n %}
{% load staticfiles %}
{% load app_filters %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Document</title>
	<!--[if lte IE 8]>
<link rel="stylesheet" media="print" href="/print.css" type="text/css" />
<![endif]-->
	<style>



	table { border: 2px single black; }
td { border: thin single black collapse; table-layout:auto;padding:2px}



	body,td,th {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #686767; font-size:10px;
	;
}
	 table tr td{ width:auto; overflow: hidden; word-wrap: break-word; height: auto;}



	@media print {
     body{
         width: 21cm;
         height: 29.7cm;

         /* change the margins as you want them to be. */
    }
 }
    </style>

</head>

<body>
	<table border="1" cellpadding="0" cellspacing="0"  align="center" width="100%" heigh="842px">
<!-- Row A -->
<tr>

    <td colspan="3" rowspan="3" align="left" valign="top">Addistro Technologies Pvt Ltd (Delhi)
1st Floor, 241, Pocket 8, Rohini Sector 24, North W est Delhi, Delhi, 110085
Delhi - 110085, India
GSTIN/UIN: 07AAQCA9570J1Z0</td>
    <td colspan="3"> Credit Note No. e-Way Bill No.
C.N/10034/18-19</td>
    <td colspan="3" align="left" valign="bottom" nowrap="nowrap"><h4><strong>Dated</strong> </h4> 17-Oct-2018</td>


</tr>
<!-- Row B -->
<tr>
    <td colspan="3"> 2</td>
	<td colspan="3" align="left" valign="bottom"> Mode/Terms of Payment<br> <strong>1 Days</strong></td>


</tr>
<!-- Row C -->

	<tr>
   <td colspan="3" align="left" valign="middle"><strong>Buyer's Ref.</strong> <br> ADT/07/10041 dt. 17-Oct-2018</td>
    <td colspan="3" align="left" valign="top"> Other Reference(s)</td>


</tr>
<!-- Row D -->

<tr>

    <td colspan="3" rowspan="5" align="left" valign="top">

<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left"  >

	<tr>

	<td  align="left"><h4>Despatch To:</h4></td>

			</tr>
		<tr>

	<td  align="left"><h3>{{shop.gf_shipping_address.shop_name}}</h3></td>


			</tr>

			<tr>
	<td ><h4>{{shop.gf_shipping_address}}, {{shop.gf_shipping_address.nick_name}}, {{shop.gf_shipping_address.city}}, {{shop.gf_shipping_address.state}}, {{shop.gf_shipping_address.pincode}}</h4></td>


			</tr>
			<tr>
	<td colspan="3"><h4>GSTIN/UIN :</h4></td>
    <td colspan="3"><h4>{{shop.gf_shipping_address.address_contact_name}}</h4></td>



			</tr>

			<tr>
	<td colspan="3"><h4>PAN/IT No :</h4></td>
    <td colspan="3">2</td>



			</tr>

			<tr>
	<td colspan="3"><h4>State Name :</h4></td>
    <td colspan="3"><h4>{{shop.gf_shipping_address.state}}</h4></td>



			</tr>

			<tr>
	<td colspan="3"><h4>Place of Supply :</h4></td>
    <td colspan="3"><h4>{{shop.gf_shipping_address.city}},{{shop.gf_shipping_address.state}} </h4></td>



			</tr>
			<tr>
	<td colspan="3"><h4>Contact person :<h4></td>
    <td colspan="3"><h4>{{shop.gf_shipping_address.address_contact_name}}</h4></td>



			</tr>
			<tr>
	<td colspan="3"><h4>Contact :</h4></td>
    <td colspan="3"><h4>{{shop.gf_shipping_address.address_contact_number}}</h4></td>



			</tr>
			<tr>
	<td colspan="3">Fax :</td>
    <td colspan="3">2</td>



			</tr>
<tr>
	<td colspan="3">E-Mail :</td>
    <td colspan="3">2</td>



			</tr>
		</table>

	</td>
	<td colspan="4" height="0"></td>

</tr>



		<tr>

    <td colspan="3" align="left" valign="top"><h3>Buyer's Order No:- {{shop.po_no}}</h3></td>
    <td colspan="3" align="left" valign="top"><h3>Dated:- {{shop.created_at}}</h3></td>



</tr>
<!-- Row E -->
<tr>
    <td colspan="3" align="left" valign="top">Despatch Document No.</td>
    <td colspan="3">3</td>



</tr>
<tr>
    <td colspan="3" align="left" valign="top">Despatched through</td>
    <td colspan="3" align="left" valign="top">Destination</td>



</tr>
		<tr>
    <td colspan="6" align="left" valign="top">Terms of Delivery<br>
Addistro Technologies Pvt Ltd (Delhi) 1st Floor, 241, Pocket 8, Rohini Sector 24, North W est Delhi, Delhi, 110085 Delhi - 110085, India GSTIN/UIN: 07AAQCA9570J1Z0Addistro Technologies Pvt Ltd (Delhi) 1st Floor, 241, Pocket 8, Rohini Sector 24, North W est Delhi, Delhi, 110085 Delhi - 110085, India GSTIN/UIN: 07AAQCA9570J1Z0

</td>




</tr>
		<tr>

    <td colspan="3" rowspan="5" align="left" valign="top">

<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left"  >

	<tr>

	<td  align="left"><h4>Supplier:</h4></td>



			</tr>
		<tr>

	<td  align="left"><h3>{{shop.supplier_name}}</h3></td>


			</tr>

			<tr>
	<td >GF, Property No. 39, Village Naharpur, Near Saini, Chopal, Sector-7, Rohini,Delhi, Delhi - 110085, India</td>


			</tr>
			<tr>
	<td colspan="3">GSTIN/UIN :</td>
    <td colspan="3">2</td>



			</tr>

			<tr>
	<td colspan="3">PAN/IT No :</td>
    <td colspan="3">2</td>



			</tr>

			<tr>
	<td colspan="3">State Name :</td>
    <td colspan="3">2</td>



			</tr>

			<tr>
	<td colspan="3">Place of Supply :</td>
    <td colspan="3">2</td>



			</tr>
			<tr>
	<td colspan="3">Contact person :</td>
    <td colspan="3">2</td>



			</tr>
			<tr>
	<td colspan="3">Contact :</td>
    <td colspan="3">2</td>



			</tr>
			<tr>
	<td colspan="3">Fax :</td>
    <td colspan="3">2</td>



			</tr>
<tr>
	<td colspan="3">E-Mail :</td>
    <td colspan="3">2</td>



			</tr>
		</table>

	</td>
	<td colspan="4" height="0"></td>

</tr>
		<tr colspan="6"></tr>
		<tr colspan="6"></tr>
		<tr colspan="6"></tr>
		<tr colspan="6"></tr>


		<tr>
			<td colspan="8">
		<table width="100%"  cellspacing="0" cellpadding="0" border="1" align="left">
		<tr>
    <th>SI NO.</th>
    <th >Description of Goods</th>

    <th >HSN/SAC</th>
			<th >GST Rate</th>
    <th >Quantity</th>
	<th>Rate</th>
			<th >Per</th>
    <th  colspan="2">Amount</th>



</tr>
{% for m in products %}
<tr>
    <td><h3>{{ forloop.counter }}</h3></td>
    <td><h3>({{ m.cart_product.product_sku }}) {{ m.cart_product.product_short_description }}</h3></td>
    <td><h3>{{ m.cart_product.product_ean_code }}</h3></td>
    {% for n in m.cart_product.product_pro_tax.all %}
    <td><h3>{{ n.tax.tax_percentage }}%</h3></td>
    {% endfor %}
    <td><h3>{{ m.qty }}</h3></td>
	  <td><h3>{{ m.price }}/-</h3></td>
    <td><h3>PCS</h3></td>
		   {{ m.qty | qty }}
    <td  colspan="2"><h3>{{ m.price | price}}/-</h3></td>

</tr>
{% endfor %}
			</table>
			</td>
		</tr>


    <tr>
    	<td colspan="8">
    		<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="1" align="left">
    		<td ><h3>Total Amount: </h3> </td>
    	    <td ><h3>{{f}}</h3></td>


    		</table>
    	</td>
    		</tr>

<tr>
	<td colspan="8">
		<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="1" align="left">
		<td>Amount Chargeable (in words) </td>
	    <td>E. & O.E </td>
		<tr><td colspan="8">INR Twenty Thousand Five Hundred Forty Six and Five paise Only</td></tr>


		</table>
	</td>
		</tr>
		<tr>
			<td colspan="8">
			<table width="100%"  cellspacing="0" cellpadding="0" border="1" align="left">


    <td colspan="2">Central Tax</td>
    <td colspan="2">State Tax</td>
    <td colspan="2" rowspan="2">Total Tax Amount</td>


				<tr>
	<td colspan="10">
		<table width="100%" cellspacing="0" cellpadding="0" border="1" align="left">
					<tr>
						<td colspan="2">Tax Amount (in words) :</td>
						<td colspan="6"> INR Three Thousand One Hundred Thirty Four and Sixteen paise Only</td></tr>
		<td colspan="6" >
		<table>
		 <tr>
			<td>Party's Service Tax No. :</td>
			<td> NA</td>
			</tr>
		 <tr>
			<td>Company's PAN  :</td>
			<td>AAQCA9570J</td>
			</tr>

		 </table>

			</td>
	    <td>E. & O.E </td>


		</table>
	</td>
		</tr>

				</table>
			</td>

</tr>
</table>



</body>
</html>
