{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load app_filters%}
{% load humanize %}
{% load mathfilters %}

<html>

	<head>
<meta charset="UTF-8">
<title>purchase order</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{scheme}}://{{url}}/static/admin/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" type="text/css" href="{{scheme}}://{{url}}/static/admin/css/style.css">

	<style>
table tr td,th,h4,span,address{

			font-size:10px
		}
	</style>
</head>



<body>
    <div class="container-fluid">
			<div class="row">
			<div class="col-sm-6">
			<img src="{{scheme}}://{{url}}/static/admin/img/logo.png" style="width: 150px; padding: 10px 0px 10px">
			</div>

		</div>

		</div>
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
				<div class="col-xs-6">
    				<h4 class="invoice">Purchase Order No:- <span class="invoice_no"> <strong>{{shop.po_no}}</strong></span></h4>
				</div>
				<div class="col-xs-3">
					<h4 class="pull-right licence">FSSAI License No: <span class=""><strong>{{ license_number }}</strong></span></h4>
				</div>
				<div class="col-xs-3">
					<h4 class="pull-right order_id">Order Id: <span class="order_id_no"><strong>{{ order_id }}</strong></span></h4>
				</div>
    		</div>

    		<div class="row">
    			<div class="col-xs-6">
    				<address>
						<span>Invoice To :</span><br>
    				<strong>{{shop.gf_billing_address.shop_name.shop_name}}</strong><br>
    				{{shop.gf_billing_address.nick_name}}, {{shop.gf_billing_address.address_line1}}, {{shop.gf_billing_address.city}}<br>
						<strong>GSTIN/UIN:</strong> <span>{% if gram_factory_billing_gstin %}{{ gram_factory_billing_gstin.shop_document_number }}{% else %} ---- {% endif %}</span><br>
						<strong>State Name:</strong> <span>{{shop.gf_billing_address.state}} </span><strong>Code:</strong> <span>{{shop.gf_billing_address.pincode}}</span><br>
						<strong>CIN No.:</strong> <span>{{cin}}</span>
    				</address>

					<address>
						<span>Dispatch To :</span><br>
    				<strong>{{shop.gf_shipping_address.shop_name.shop_name}}</strong><br>
    				{{shop.gf_shipping_address.nick_name}}, {{shop.gf_shipping_address.address_line1}}, {{shop.gf_shipping_address.city}}<br>
						<strong>GSTIN/UIN:</strong> <span>{% if gram_factory_shipping_gstin %}{{ gram_factory_shipping_gstin.shop_document_number  }}{% else %} ---- {% endif %}</span><br>
						<strong>State Name:</strong> <span>{{shop.gf_shipping_address.state}} </span><strong>Code:</strong> <span>{{shop.gf_shipping_address.pincode}}</span><br>
						<strong>CIN No.:</strong> <span>{{cin}}</span>
    				</address>
					<address>
						<span>Party :</span><br>
    				<strong>{{shop.supplier_name.vendor_name}}</strong><br>
    				{{shop.supplier_name.company_name}}, {{shop.supplier_name.address_line1}}, {{shop.supplier_name.city}}<br>
						<strong>GSTIN/UIN:</strong> <span>{{shop.supplier_name.GST_number}}</span><br>
						<strong>State Name:</strong> <span>{{shop.supplier_name.state}} </span><strong>Code:</strong> <span>{{shop.supplier_name.pincode}}</span><br>
						<strong>CIN No.:</strong> <span>---</span>
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<div class="table">
    					<table class="table table-bordered">

                                <tr>
									<td style="width: 50%" class="text-center"><strong>Voucher No.</strong><br>
									<span>{{shop.po_no}}</span>
									</td>
        							<td class="text-center"><strong>Created Date<br>{{shop.po_creation_date}}</strong></td>
                                </tr>
    						 	<tr>
									<td class="text-center"><strong>Validity Date</strong><br>
									<span>{{shop.po_validity_date}}</span>
									</td>

        							<td class="text-center"><strong>Mode/Terms of Payment</strong><br>
								 	<span>1 Days</span>
								 	</td>
                                </tr>

						</table>
    			</div>
					<div class="table">
    					<table class="table table-bordered">

                                <tr>

        							<td style="width: 50%" class="text-center"><strong>Supplier's Ref./Order No.</strong><br><span>{{shop.po_no}}</span></td>
        							<td class="text-center"><strong>Delivery Note Date <br>
1 Days</strong></td>


                                </tr>
    						 <tr>

        							<td class="text-center"><strong>Despatched through</strong></td>
        							<td class="text-center"><strong>Destination</strong></td>


                                </tr>
							 <tr>

        							<td class="text-center" colspan="2"><strong>Terms of Delivery</strong><br>


								 </td>



                                </tr>

						</table>
    			</div>
    		</div>
			</div>

    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table">
    					<table class="table table-condensed">
    						<thead>
                      <tr>
        							<td><strong>Serial No.</strong></td>

												<td class="text-center"><strong>SKU</strong></td>
        							<td class="text-center"><strong>Description of Goods</strong></td>
											<td class="text-center"><strong>MRP</strong></td>
        							<td class="text-center"><strong>HSN/SAC</strong></td>

									    <td class="text-center"><strong>GST Rate</strong></td>
						  <td class="text-center"><strong>No of Cases</strong></td>
									    <td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-center"><strong>Rate</strong></td>
        							<td class="text-center"><strong>Per</strong></td>
        							<td class="text-right"><strong>Amount</strong></td>
                      </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
                    {% for m in products %}
    								<td><strong>{{forloop.counter}}</strong></td>
									<td class="text-center">{{ m.cart_product.product_sku}}</td>
    								<td class="text-center">{{ m.cart_product.product_short_description}}</td>
									<td class="text-center">{{ m.mrp}}</td>
									<td class="text-center">{{ m.cart_product.product_hsn}}</td>
									<td class="text-center">{{ m.tax_percentage }}</td>
									<td class="text-center">{{ m.no_of_cases }}</td>
									<td class="text-center">{{m.qty}}</td>
    								<td class="text-center">{{m.price}}</td>
    								<td class="text-center">PCS</td>
										   <div style="display:none"> {{m.qty| intcomma}}</div>

    								<td class="text-right">{{m.qty|mul:m.price | floatformat:2 | intcomma}}/-</td>
    							</tr>
									{% endfor %}

    							<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								    <td></td>
    								<td ></td>
    								<td class="thick-line text-center"><strong>{{sum_qty}} PCS</strong></td>
    								<td class="thick-line text-right"><strong>₹{{sum_amount | floatformat:2 | intcomma }}/-</strong></td>
    							</tr>
									{% if shop.supplier_state == shop.gf_shipping_address.state %}
    							<tr>

									<td class="no-line"></td>
									<td class="no-line"></td>
									<td class="no-line"></td>
									<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>CGST</strong></td>
    								<td class="no-line text-right"><strong>₹{{cgst | floatformat:2 }}/-</strong></td>
    							</tr>
								<tr>

    								<td class="no-line"></td>
									<td class="no-line"></td>
										<td class="no-line"></td>
										<td class="no-line"></td>
									<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>SGST</strong></td>
    								<td class="no-line text-right"><strong>₹ {{sgst | floatformat:2 }}/-</strong></td>
    							</tr>
									{% else %}
									<tr>

	    								<td class="no-line"></td>
										<td class="no-line"></td>
											<td class="no-line"></td>
											<td class="no-line"></td>
										<td class="no-line"></td>
										<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line text-center"><strong>IGST</strong></td>
	    								<td class="no-line text-right"><strong>₹ {{igst | floatformat:2 }}/-</strong></td>
	    							</tr>
										{% endif %}
								<tr>


    								<td class="no-line"></td>
									<td class="no-line"></td>
									<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Cess</strong></td>
    								<td class="no-line text-right"><strong>₹ {{cess | floatformat:2 }}/-</strong></td>
    							</tr>
									<tr>


	    								<td class="no-line"></td>
										<td class="no-line"></td>
										<td class="no-line"></td>
										<td class="no-line"></td>
	    								<td class="no-line"></td>
										<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line text-center"><strong>Surcharge</strong></td>
	    								<td class="no-line text-right"><strong>₹ {{surcharge | floatformat:2 }}/-</strong></td>
	    							</tr>

    							<tr>

										<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
										<td class="no-line"></td>
    								<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right" style="width:120px"><strong>₹ {{total_amount | floatformat:2 | intcomma}}/- </strong></td>
    							</tr>

								<tr>
								<td colspan="11"></td>
								</tr>
								<tr>
        							<td colspan="8" class="no-line"><strong>Amount Chargeable (in words)</strong></td>
        							<td class="no-line">E . &amp; O . E</td>
                                </tr>
								<tr>
        							<td colspan="11"><strong>{{total_amount | floatformat:2 }}</strong></td>

                                </tr>
    						</tbody>
    					</table>

    				</div>

    				<div class="table">


						<div class="table">
    					<table class="table table-bordered">
    						<thead>

								<tr>

        							<td class="text-left" colspan="10">


						<strong>Supplier's Service Tax No:</strong> <span>NA</span><br>
										<strong>Pan No.:</strong> <span>AAQCA9570J</span><br>

									</td>



                                </tr>

							</thead>

							</table>
    				</div>
						<div class="table">
    					<table class="table table-bordered">
    						<thead>

								<tr>

        							<td class="text-left" colspan="5">
								<strong>Declaration</strong> <br>
We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.
									</td>
									{% if is_gf_shop %}
										<td class="text-center" colspan="4" height="100">
											<strong>For GFDN Services Pvt Ltd</strong> <br>
											<img src="{{scheme}}://{{url}}/static/admin/img/stamp.png" width="80" height="80" style="text-align: center">
											<br>
											Authorised Signatory
											<br>Navneet Singh
										</td>
									{% else %}
										<td class="text-center" colspan="4" height="100">
											<strong>For ADDISTRO TECHNOLOGIES PVT LTD</strong></br>
											<img src="{{scheme}}://{{url}}/static/admin/img/addistro_stamp.png" width="90" height="80" style="text-align: center">
											<br>
											Authorised Signatory
											<br>Navneet Singh
										</td>
									{% endif %}

                                </tr>

							</thead>

							</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

</div>
	</div>

<div class="row">
	<div class="col-xs-12">
		<div class="table">
				<table class="table table-condensed">
					<tr><td class="text-center" colspan="2"><strong>Terms &amp; Conditions</strong></td></tr>
					<tr><td>1.</td><td align="justify"> The goods / products for delivery to our warehouse should always be accompanied with a duly signed and stamped original invoice (P.O number incorporated therein) and a copy of P.O. (in case of computer-generated invoice and not duly signed, please mention on the Invoice that this is an approved electronically generated and confirmed invoice does not require any signature</td>
					</tr>
					<tr><td>2.</td><td align="justify">The counterfoil of waybill / road permit (with all details mentioned therein) duly signed and stamped by the authority must accompany the goods / products (wherever it is applicable).
					</td></tr>
					<tr><td>3.</td><td align="justify">The supply of goods / products should be strictly as per the PO and should have been packed in good condition and order.
					</td></tr>
					<tr><td>4.</td><td align="justify">Shelf life receiving norms: 70%
					</td></tr>
					<tr><td>5.</td><td align="justify">The goods / products supplied under single consignment should always carry same MRP
					</td></tr>
					<tr><td>6.</td><td align="justify">If there is any change or difference in MRP / Cost / Tax etc., of the Invoiced goods / products as compared to that of the details mentioned in the PO, then at the time of delivery, the change / difference should be brought to the notice of the Officials of Addistro Technologies Private Limited/ GFDN Private Limited and supplier/vendor need to endeavour to resolve associated issue.
					</td></tr>
					<tr><td>7.</td><td align="justify">Standard delivery timing for all goods / products (except fresh produce) upto 5 p.m. during working days except on Sunday's, festivals and national holidays. For actual delivery time contact respective delivery location (mentioned in the PO)
					</td></tr>
					<tr><td>8.</td><td align="justify">In case of any discrepancies noticed during in-warding the consignment at warehouse / store, the same shall be communicated to the Supplier / Vendor on the Goods Receipt Note (GRN). The endorsement as to the quantity and value of the Product/s by Addistro Technologies Private Limited/ GFDN Private Limited on the GRN at time of receiving / inward of products / goods is final and binding on the parties.
					</td></tr>
					<tr><td>9.</td><td align="justify">The vendor upon request at any time will supply us with all supporting document/s in support of having discharged duties / tax liabilities to the Authority.
					</td></tr>
					<tr><td>10.</td><td align="justify">Goods received through Courier or Transports or through a carrier, in a damaged or unsalable condition, will not be received by the Warehouse. Such goods, if not taken back by the Carrier through which they are sent, will be retained at Warehouse. Necessary information would be passed on to the supplier for collection of such damaged or unsalable goods. Suppliers / vendors should make arrangements to ensure the goods are collected within a period of 30 Days from the date of receipt/ GRN. Such goods would be scrapped at the respective receiving locations in case if they are not collected back by the vendor/suppliers within the stipulated period of 30 days.
					</td></tr>
					<tr><td>11.</td><td align="justify">In case of any change in tax rates after purchase, the difference of tax amount on the stock held on the date of change shall be recovered from the seller.
					</td></tr>
					<tr><td>12.</td><td align="justify">All disputes will be subject to exclusive jurisdiction of Courts at Gurgaon/Gurugram (Haryana) only.
					</td></tr>
					<tr><td>13.</td><td align="justify">Escalation Matrix: Warehouse/ Supply Chain & Replenishment- b2bfcmail@gramfactory.com b2cwarehouse@gramfactory.com
					</td></tr><tr>
				</table>
		</div>

		<div class="table">
				<table class="table table-bordered">
					<tr><td><strong>Concerns</strong></td><td><strong>Contact Details</strong></td>
					</tr>
					<tr><td>Location address & other WH related queries</td><td align="justify">Prakash (9871467268), Shubham (7277278887)</td></tr>
					<tr><td>Cost, PO Schedule, PO Expiry, EAN Code, HSN, case pack</td><td align="justify">
						Anarul Hossain (9818420514) Anarul@gramfactory.com/Deepak (7053558941) Deepak@gramfactory.com/Shashi Bhushan (9811112408) shashi@gramfactory.com
					</td></tr>
				</table>
		</div>

	</div>

</div>
</body></html>
