
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Change Update Delivery/ Returns/ Damage | Admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <style type="text/css">
        /* add an asterisk using CSS */
        .aligned label.required:after {
          content: '*';
          color:#ba2121;
        }

        .hide_input_box {
            border: none;
            background-color: white;
        }

        .ui-select{width: 100%}
/* This is to remove the arrow of select element in IE */
.ui-select::-ms-expand {	display: none; }
.ui-select {
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix(){
	.ui-select{border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box; position: relative; overflow: hidden;}
  .ui-select { width: 110%; background-position: right 30px center !important; border: none !important;}
}

    </style>

       {{ ordered_form.media }}


<!--<script type="text/javascript" src="/admin/jsi18n/"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/core.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/actions.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/urlify.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/inlines.js"></script>-->


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-retailer_to_sp model-orderedproduct change-form"
  data-admin-utc-offset="19800">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name">
    <a href="/admin/">
        <img src="/static/admin/img/logo-1.png" height="40px" />
    </a>
</h1>

        </div>


        <div id="user-tools">

                Welcome,
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.



                    <a href="/">View site</a> /






                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>

        </div>



    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/retailer_to_sp/">Retailer_To_Sp</a>
&rsaquo; <a href="/admin/retailer_to_sp/shipment/">Plan Shipment</a>
</div>







    <!-- Content -->
    <div id="content" class="colM">

        <h1>Plan Shipment</h1>
        <div id="content-main">
{% if formset|length != 0 and not messages %}
  <ul class="object-tools">



<!--<li>-->
<!--<input type="button" id="update_button" value="AUTO FILL NO. OF PIECES TO SHIP">-->
<!--</li>-->




  </ul>


 {% endif %}

<form method="post" enctype="multipart/form-data">
                    {% if messages %}
<ul class="messagelist">
    <li class="warning"><input style="background: #79aec800; color: #447e9b; padding: 0px;" type="button" id="reload_page" value="Please click here to refresh the page!"></li>
</ul>
            {% endif %}

<div>







  <fieldset class="module aligned ">

  {% csrf_token %}
<hr>
      <br>

      {% if ordered_form.errors %}
            {% for field in ordered_form %}
                {% for error in field.errors %}
                <p class="errornote">{{ error|escape }}</p>
            {% endfor %}
                {% endfor %}
          {% for error in ordered_form.non_field_errors %}
            <p class="errornote">{{ error|escape }}</p>
          {% endfor %}
      {% endif %}

                  {% if messages %}
                {% for message in messages %}
                <p class="errornote">{{ message|escape }}</p>
                {% endfor %}
            {% endif %}
{{ordered_form.management_form}}
<button type="submit" class="fetch">Fetch</button>
    {% for field in ordered_form.visible_fields %}
     <p>

         {{ field.label_tag }}
          {{ field }}
          {{ field.help_text }}
  </p>
    {% endfor %}








</fieldset>









<div class="js-inline-admin-formset inline-group"
     data-inline-type="tabular"
     data-inline-formset="{&quot;name&quot;: &quot;#rt_order_product_order_product_mapping&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;rt_order_product_order_product_mapping&quot;, &quot;addText&quot;: &quot;Add another Ordered product mapping&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
  <div class="tabular inline-related last-related">
    {{ formset.management_form }}
     {{ formset.non_form_errors }}


<fieldset class="module ">


  {% if formset|length != 0 %}
   <h2>Ordered Products</h2>
   <table>
     <thead><tr>


         <th>Product

         </th>



         <th>Ordered No. of Pieces

         </th>


         <th>No. of delivered Pieces

         </th>

         <th>No. of already Shipped Pieces

         </th>
         <th>Picked_pieces</th>
         <th>No. of Pieces to Ship

         </th>


     </tr></thead>

     <tbody>

        {% for order_form in formset %}
      {% if order_form.errors %}

          {% for error in order_form.non_field_errors %}
            <p class="errornote">{{ error|escape }}</p>
          {% endfor %}
      {% endif %}
        <tr>

            {{ order_form.product }}
            <td>{{ order_form.product_name }}</td>
            <td> <b>{{ order_form.ordered_qty }}</b></td>
            <td> <b>{{ order_form.already_shipped_qty }}</b></td>
            <td> <b>{{ order_form.to_be_shipped_qty }}</b></td>
            <td> <b>{{ order_form.picked_pieces }}</b></td>
          <td>{{ order_form.shipped_qty.errors }}{{ order_form.shipped_qty }}</td>

        </tr>

      {% endfor %}

     </tbody>
   </table>
</fieldset>

  </div>
</div>







<div class="submit-row">

<input type="submit" value="Save" class="default" name="_save">


    <p class="deletelink-box"><a href="/admin/retailer_to_sp/shipment/" class="deletelink">Back</a></p>




</div>
{% elif not ordered_form.order.value %}
<!--<ul class="messagelist">-->
<!--    <li class="warning">Please select an Order first!</li>-->
<!--</ul>-->
{% else %}
<ul class="messagelist">
    <li class="warning">All the Shipments of this particular Order has been created successfully!</li>
</ul>
{% endif %}


    <!--<script type="text/javascript"-->
            <!--id="django-admin-form-add-constants"-->
            <!--src="/static/admin/js/change_form.js"-->
            <!--&gt;-->
    <!--</script>-->




<!--<script type="text/javascript"-->
        <!--id="django-admin-prepopulated-fields-constants"-->
        <!--src="/static/admin/js/prepopulate_init.js"-->
        <!--data-prepopulated-fields="[]">-->
<!--</script>-->


</div>
</form></div>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer">

    </div>
</div>
<!-- END Container -->

</body>
<script>
$(document).ready(function(){

$('#update_button').click(function(){
  $("input[id$='product_name']").each(function() {
    var row_no = $(this).attr('id').match(/\d+/);
    var ordered_qty = $('#id_form-'+row_no+'-ordered_qty').val();
    var already_shipped_qty = $('#id_form-'+row_no+'-to_be_shipped_qty').val();
    var to_be_shipped_qty = ordered_qty - already_shipped_qty
    $('#id_form-'+row_no+'-shipped_qty').val(to_be_shipped_qty);
  });
});


$('#reload_page').click(function(){
  var pageURL = $(location).attr("href");
  location.replace(pageURL);
});


// $("input[id$='ordered_qty']").css('border', 'none');
// $("input[id$='already_shipped_qty']").css('border', 'none');
//   $("input[id$='to_be_shipped_qty']").css('border', 'none');


//   $("input[id$='ordered_qty']").attr("readOnly", true);
//   $("input[id$='already_shipped_qty']").attr("readOnly", true);

  // $('select#id_order').select2({width: '50%'});
     // $('select#id_shipment_status').val("PLANNING").attr("disabled", true);
  //   $('select#id_shipment_status').select2({width: '50%'});

  // $("select[id$='product']").attr("disabled", true);

    $("select#id_order").on("change", function(e) {
        $("#submitbutton").hide();
        $("table").html('Loading! Please wait...');
         var selectedOrder= $(this).children("option:selected").val();
         var host = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '')+'/';
         var url = host + 'admin/retailer_to_sp/cart/order-product-mapping-shipment/?order_id=' + selectedOrder;
         location.href=url;
        });

// jQuery plugin to prevent double submission of forms
jQuery.fn.preventDoubleSubmission = function() {
  $(this).on('submit',function(e){
    var $form = $(this);

    if ($form.data('submitted') === true) {
      // Previously submitted - don't submit again
      e.preventDefault();
    } else {
      // Mark it so that the next submit can be ignored
      $form.data('submitted', true);
    }
  });

  // Keep chainability
  return this;
};

$('form').preventDoubleSubmission();

});
// jQuery(function ($) {
//   $('form').bind('submit', function () {
//     $("select[id$='product']").attr("disabled", false);
//       $('select#id_shipment_status').attr("disabled", false);
//     $(this).find(':input').prop('disabled', false);
//   });
// });
</script>


<script type="text/javascript">

    var form_enabled = true;
    $( document ).ready(function() {
        $('.submit-row').on('click','input[type=submit]', function(e){
               $('.submit-row').hide();
                setTimeout(function(){
                    $('.submit-row').show();
                }, 2000);
        });
    });

</script>
</html>
