{% extends 'admin/retailer_to_sp/trip/base.html' %}

{% block title %}Trip Planning | Admin{% endblock %}
{% block breadcrumb1 %}Retailer_To_Sp{% endblock %}
{% block breadcrumb2 %}Trip{% endblock %}
{% block breadcrumb3 %}Trip Planning{% endblock %}

{% block content %}
          <!-- Content -->
         <div id="content" class="colM">
            <h1>{% block content_header %}{% endblock %}</h1>
            <div id="content-main">
               <ul class="object-tools">
                  <!--<li>-->
                  <!--<a href="/admin/retailer_to_sp/orderedproduct/119/history/" class="historylink">History</a>-->
                  <!--</li>-->
               </ul>
               <form method="post" enctype="multipart/form-data">
                  <div>
                     <fieldset class="module aligned ">
                        {% csrf_token %}
                        {% if form.errors %}
                        {% for error in form.non_field_errors %}
                        <p class="errornote">
                           {{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endif %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden.errors }}
                        {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <p><label for="{{ field.auto_id }}">{{field.label}}:    {% if field.field.required %}
                           <span class="required">*</span>
                           {% endif %}
                           </label>{{ field.errors }}{{ field }}
                        </p>
                        {{ field.widget.attrs.id }}
                        {% endfor %}
                     </fieldset>
                     <div class="js-inline-admin-formset inline-group"
                        data-inline-type="tabular"
                        data-inline-formset="{&quot;name&quot;: &quot;#rt_order_product_order_product_mapping&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;rt_order_product_order_product_mapping&quot;, &quot;addText&quot;: &quot;Add another Ordered product mapping&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
                        <div class="tabular inline-related last-related">
                           <div>
                              <span>Total Invoices Added : </span><span id="total_invoices"></span>
                           </div>
                           <fieldset id="inline" class="module ">
                           <table id="formset" class="form">
                              <tbody id="data">
                              <thead>
                                 <tr id="heading">
                                    <th>Select</th>
                                    <th>Invoice No.</th>
                                    <th>Invoice Amount</th>
                                    <th>Shipment Status</th>
                                    <th>Invoice City</th>
                                    <th>Invoice Date</th>
                                    <th>Order</th>
                                    <th>Shipment Weight (gm)</th>
                                    <th>Shipment Address</th>

                                 </tr>
                                 <tr id="loading">
                                    <th>Loading...</th>
                                 </tr>
                               </thead>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="submit-row">
                        <input type="submit" value="Save" class="default" name="_save">
                        <p class="deletelink-box"><a href="/admin/retailer_to_sp/" class="deletelink">Back</a></p>
                     </div>
                  </div>
               </form>
            </div>
            <br class="clear">
         </div>
         <!-- END Content -->
{% load static %}
<!-- <script src="{% static 'admin/js/trip.js' %}"></script>-->
 <script src="{% static 'admin/js/trip.js' %}?v=0.001"></script>
{% endblock %}

