<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcode</title>
</head>
<body>
{% for key,value in barcode_list.items %}
    {% for item in value.qty %}
        <div><img src="data:image/png;base64,{{value.code}}" height="180px"></div>
        {% if value.data is not None%}
            {% for key, value in  value.data.items %}
                {% if key == 'Bin' %}
                    <div style="font-size:35px;">{{key}}:{{value}}</div>
                {% else %}
                    <div>{{key}}:{{value}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
</body>
</html>