{% extends 'admin/retailer_to_sp/trip/base.html' %}
{% block title %}Wms | Admin{% endblock %}
{% block breadcrumb1 %}<a href="/admin/wms/">Bins</a>{% endblock %}
{% block breadcrumb2 %}<a href="/admin/wms/bin/">Bin<a>{% endblock %}
{% block breadcrumb3 %}<a href="#">Bulk Bin Updation</a>{% endblock %}

{% block content %}
          <!-- Content -->
         <div id="content" class="colM">
            <h1>{% block content_header %}{% endblock %}</h1>
            <div id="content-main">
               <ul class="object-tools">
                  <!--<li>-->
                  <!--<a href="/admin/retailer_to_sp/orderedproduct/119/history/" class="historylink">History</a>-->
                  <!--</li>-->
               </ul>
               <form method="post" enctype="multipart/form-data">

                  <div>
                     <fieldset class="module aligned ">
                        {% csrf_token %}
<hr>
      <br>

      {% if ordered_form.errors %}
            {% for field in ordered_form %}
                {% for error in field.errors %}
                <p class="errornote">{{ error|escape }}</p>
            {% endfor %}
                {% endfor %}
          {% for error in ordered_form.non_field_errors %}
            <p class="errornote">{{ error|escape }}</p>
          {% endfor %}
      {% endif %}

                  {% if messages %}
                {% for message in messages %}
                <p class="errornote">{{ message|escape }}</p>
                {% endfor %}
            {% endif %}
                        {{form.as_p}}
        </fieldset>

                       <div class="form-row field-download-csv">
        <li>
            <a href="/wms/download/bin/csv/" id="id_download"> Download Sample Bin file</a>
        </li>
    </div>
                     <div class="submit-row">
                        <input type="submit" value="Save" class="default" name="_save">
                     </div>
                  </div>
    </form>
    {% endblock %}
         <!-- END Content -->

{% block javascript %}
<script >

</script>
{% endblock %}

