
{% extends 'admin/retailer_to_sp/trip/base.html' %}
{% block title %}Wms | Admin{% endblock %}
{% block breadcrumb1 %}<a href="/admin/wms/">Crates</a>{% endblock %}
{% block breadcrumb2 %}<a href="/admin/wms/crate/">Crate<a>{% endblock %}
{% block breadcrumb3 %}<a href="#">Bulk Crates Creation</a>{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" class="colM">
   <h1>{% block content_header %}{% endblock %}</h1>
   <div id="content-main">
      <ul class="object-tools">
      </ul>
      {% if error %}
      <span class="errornote">{{ error|escape }}</span>
      {% endif %}
      <form method="post" enctype="multipart/form-data" id="bin-upload-form">

         <div>
            <fieldset class="module aligned ">
               {% csrf_token %}

               {{form.as_p}}
            </fieldset>

            <div class="submit-row">
               <input type="submit" value="Save" class="default" name="_save" id="save">
            </div>
         </div>
      </form>
   </div>
</div>
{% endblock %}
<!-- END Content -->

{% block javascript %}
<script>
   $(document).ready(function () {
      $("#bin-upload-form").submit(function (event) {
         document.getElementById('save').disabled = true;
      });
   });
</script>
{% endblock %}