### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
.env
retailer_backend.sock
env/
venv/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
kinesis-to-es/
live_server_key.pem
pylogicaldecoding-master/
static/jet/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea/
*.DS_Store
static_root
media/
*/migrations/
**/migrations/**
.mypy_cache/
.vscode/
celerybeat-schedule
# exclude everything
barcode_tmp/*

# exception to the rule
!barcode_tmp/.gitkeep
pos/scripts/pos_data.csv
products/management/dest_pack_update.csv
retailer_backend/dummy_shipments.py
static/django-admin-autocomplete-filter/
static_1/
static_root_1/
wms/migration.py