SECRET_KEY=**********************
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost, .dev.gramfactory.com
DB_NAME=**********************
DB_USER=**********************
DB_PASSWORD=**********************
DB_HOST=**********************
EMAIL_USER=**********************
EMAIL_PWD=**********************
SMS_USER_ID=**********************
SMS_PWD=**********************
SMS_AUTH_KEY=**********************

#DB_NAME=gramfactory
#DB_USER=jaggjitt
#DB_PASSWORD=singh
#DB_HOST=localhost
#DB_HOST_READ=localhost
#SMS_USER_ID=2000181329
#SMS_PWD=gramfac0918
#SMS_AUTH_KEY=kjgfsr536re79wfduhgvcf5r4fesfc3425gttrf