{% extends "admin/change_form.html" %} {% load i18n %}

{% block content %}
{{ block.super }}
<style>
        .required_field_red::after {
            content: "*";
            color: red;
            margin-left: 2px;
        }


</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</script>
<script>
        $(document).ready(function(jQuery) {
            var pathname = window.location.pathname;
            var arr = pathname.split('/');
            object_id = arr[arr.length-3]
            $("a[id^=add_id_shipment_payment-]").attr("href", "/admin/payments/orderpayment/add/?_to_field=id&_popup=1&object_id=" + object_id);
        });

        $("[name$=-parent_order_payment]").change(function () {
            var obj_id = $(this).val()
            var ele_id = $(this).attr('id')
            const arr = ele_id.split("-")
            var ele_no = arr[1]
            console.log(obj_id);
            console.log(ele_no);
            if (obj_id) {
                $.ajax({
                    url: '/payments/order-payment-amount/' + obj_id + '/',
                    data: {
                        'obj_id': obj_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            $("input[name=" + `shipment_payment-${ele_no}-paid_amount` + "]").val(data.data)
                        }
                        else {
                            console.log("No district data exist for corresponding state.")
                        }
                    },
                });
            }
            else {
                $("input[name=" + `shipment_payment-${ele_no}-paid_amount` + "]").val('0');
            }
        });


        function ChangePaidAmount(this) {
            var obj_id = $(this).val()
            var ele_id = $(this).attr('id')
            const arr = ele_id.split("-")
            var ele_no = arr[1]
            console.log(obj_id);
            console.log(ele_no);
            if (obj_id) {
                $.ajax({
                    url: '/payments/order-payment-amount/' + obj_id + '/',
                    data: {
                        'obj_id': obj_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            $("input[name=" + `shipment_payment-${ele_no}-paid_amount` + "]").val(data.data)
                        }
                        else {
                            console.log("No district data exist for corresponding state.")
                        }
                    },
                });
            }
            else {
                $("input[name=" + `shipment_payment-${ele_no}-paid_amount` + "]").val('0');
            }
        }


</script>

{% endblock %}