{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load app_filters_invoice_sp %}
{% load humanize %}
{% load mathfilters %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>invoice</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{scheme}}://{{url}}/static/admin/css/invoice_retailer_3inch.css">
	</head>
	<body>
		<div>
			<div class="address">
				<img src="{{scheme}}://{{url}}/static/admin/img/logo-peppertap.png" style="width: 150px; padding: 10px 0px 10px">
				<br/><span style="font-size:16px"><strong>{{shipment.order.seller_shop.shop_name}}</strong></span><br/><br/>
				{{address_line1}}<br>
				 {{city}}, {{state}}, {{pincode}}<br>
				GSTIN No : {{retailer_gstin_number}}<br>
				Contact : {{address_contact_number}}<br>
			</div>
			<div class="user-info">
				<div class="div-table">
					<div class="trow">
						<div class="tcolumn">
							<b>Customer:&nbsp;</b>{{shipment.order.buyer.first_name}}
						</div>
					</div>
					<div class="trow">
						<div class="tcolumn left">
							<b>Date:&nbsp;</b>{{order.created_at|date:"M d, Y" }}
						</div>
						<div class="tcolumn">
							<b>Order&nbspNo:&nbsp;</b>{{order.order_no}}
						</div>
					</div>
					<div class="trow">
						<div class="tcolumn left">
							<b>Pay Type:&nbsp;</b>{{payment_type}}
						</div>
						<div class="tcolumn">
							<b>Cr Note Date:&nbsp</b>{{credit_note.created_at|date:"M d, Y"}}
						</div>
					</div>
				</div>
			</div>
			<div class="items">
				<table>
					<tr>
						<th>No</th>
						<th>Product</th>
						<th>MRP</th>
						<th>QTY</th>
						<th>Rate</th>
						<th>Amt</th>
					</tr>
                    {% for m in return_item_listing %}
                    {% if m.qty != 0 %}
					<tr>
						<td>{{forloop.counter}}</td>
                        <td>{{ m.product_short_description}}</td>
                        <td>{{ m.mrp}}</td>
                        <td>{{m.qty}}</td>
                        <td>{{m.rate}}</td>
                        <td>{{m.product_sub_total|floatformat:2| intcomma }}/-
                        </td>
					</tr>
                    {% endif %}
                    {% endfor %}
					<tr>
						<td>&nbsp;&nbsp;</td>
						<td>&nbsp;&nbsp;</td>
						<td class="line">&nbsp;&nbsp;</td>
						<td class="line" colspan="2">{{sum_qty}} PCS</td>
						<td class="line">₹{{total| intcomma}}/-</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;</td>
						<td>&nbsp;&nbsp;</td>
						<td>&nbsp;&nbsp;</td>
						<td colspan="2">Discount Adjusted</td>
						<td>₹{{discount| intcomma}}/-</td>
					</tr>
                    <tr>
						<td>&nbsp;&nbsp;</td>
						<td>&nbsp;&nbsp;</td>
						<td>&nbsp;&nbsp;</td>
						<td colspan="2">Reward Value Returned</td>
						<td>₹ {{reward_value| intcomma}}/-</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;</td>
						<td>&nbsp;&nbsp;</td>
						<td>&nbsp;&nbsp;</td>
						<td colspan="2">Total</td>
						<td><b>₹{{total_amount|floatformat:0| intcomma}}/-</b></td>
					</tr>
					<tr>
						<td colspan="6"></td>
					</tr>
					<tr>
						<td colspan="5" ><b>Amount Return (in words):</b> INR {{rupees}} only</td>
					</tr>

					<tr>
						<td colspan="6"></td>
					</tr>
					<tr>
						<td colspan="5" ><b>You have saved </b>Rs:{{total_discount}} on this order</td>
					</tr>
				</table>
			</div>
			<div class="footer">
				<div>
					Declaration:
					<br>
						We declare that this Credit Note shows the actual
						price of the goods described and that
						all particulars are true and correct.
					<br>
						Note: This is a computer generated credit note <br><br>

				</div>
				<div>
					<div class="barcode">
                    <div style="text-align:center;">Credit Note No:<img src="data:image/png;base64,{{barcode}}" height="100px" width="300px">
						</div>
					</div>
				<div  style="display:block;">E .&amp; O. E</div>
				</div>
			</div>
		</div>
	</body>
</html>
