{% extends "admin/change_form.html" %} {% load i18n %}

{% block content %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .required_field_red::after {
            content: "*";
            color: red;
            margin-left: 2px;
        }
    </style>
    <script type="text/javascript">
    tinyMCE.init({
    mode: "textareas",
   
    theme: "silver",
     plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify |bullist numlist outdent indent| ' +
      'forecolor backcolor emoticons | help',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs  edit view format tools table help',
    branding: false,
});
    </script>

    <script>
        $(document).ready(function(jQuery) {
            var inline_admins = document.getElementsByClassName("tabular inline-related");
            var parent_product_category_fieldset = inline_admins[0].getElementsByTagName('fieldset');
            parent_product_category_fieldset[0].getElementsByTagName('h2')[0].className = 'required_field_red';
            var parent_product_image_fieldset = inline_admins[1].getElementsByTagName('fieldset');
            parent_product_image_fieldset[0].getElementsByTagName('h2')[0].className = 'required_field_red';
        });
    </script>
{% endblock %}