{% extends "admin/change_list.html" %} {% load i18n %}
{% load static %}
{% load staticfiles %}
{% load total_counts %}

{% block content %}
    {% get_parent_products_count as parent_sku %}
    {% get_active_parent_products_count as active_parent_sku %}
    <div>
        <div style="float: left;">
            <table style="width: 90%;">
                <thead>
                    <tr>
                    <th>
                    <div class="text">
                    <p><strong>Total Parent SKUs</strong></p>
                    </div>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th>
                    <div class="text">
                    <p><strong>{{parent_sku}}</strong></p>
                    </div>
                    </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="float: left;">
            <table style="width: 90%;">
                <thead>
                    <tr>
                    <th>
                    <div class="text">
                    <p><strong>Total Active Parent SKUs</strong></p>
                    </div>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th>
                    <div class="text">
                    <p><strong>{{active_parent_sku}}</strong></p>
                    </div>
                    </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:parent-product-upload' %}" class="addlink">Upload Parent Products List</a>
    </li>
{% endblock %}