{% extends 'admin/retailer_to_sp/trip/base.html' %}
{% block title %}Upload Master Data | Admin{% endblock %}
{% block breadcrumb1 %}<a href="/admin/products/">Products</a>{% endblock %}
{% block breadcrumb2 %}<a href="#">Upload Master Data</a>{% endblock %}

{% block content %}
   <div id="content" class="colM">
      <h1>{% block content_header %}{% endblock %}</h1>
      <div id="content-main">
         <ul class="object-tools">
         </ul>
         {% if error %}
            <span class="errornote">{{ error|escape }}</span>
         {% endif %}
         {% if success %}
            <ul class="messagelist">
            <li class="success">{{ success|escape }}</li>
            </ul>
         {% endif %}
         <div>
            <form method="post" enctype="multipart/form-data">
               <div>
                  <fieldset class="module aligned ">
                     {% csrf_token %}
                     <h1 style="font-weight: bold">{{form.as_p}}</h1>
                     <h3><a href="{% url 'admin:upload-master-data-sample-excel-file'%}" style="margin-left: 0px;">Download Sample Excel File</a></h3>
                  </fieldset>
                  <div class="submit-row">
                     <input type="submit" value="Save" class="button" name="_save">
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
{% endblock %}