{% extends "admin/change_form.html" %}
{% load static %}
{% block admin_change_form_document_ready %}

<script type="text/javascript" >

(function ($) {
    console.log('afasdfdsafdasfadsf');
if( $("select[id$='product']").has('option').length > 0 ) {
$("select[id$='product']").attr('disabled', true);
}
$("input[id$='product_mrp']").prop('readonly', true).css('border','none');
$("input[id$='po_product_quantity']").prop('readonly', true).css('border','none');
$("input[id$='po_product_price']").prop('readonly', true).css('border','none');
$("input[id$='already_grned_product']").prop('readonly', true).css('border','none');

$( "form" ).submit(function( event ) {
  $("select[id$='product']").attr('disabled', false);
});
})(django.jQuery);



</script>


{% endblock %}
