{% load i18n %}
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
  <title>Pick List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style2.css' %}">
</head>
<body>

<div class="container-fluid" >
	<table class="table">
	<thead>
      <tr>
        <th class="no-border">Order ID : {{order_obj.order_no}}</th>
      </tr>
      <tr>
        <th class="no-border">Store Name : {{buyer_shop}}</th>
      </tr>
      <tr>
        <th class="no-border">Store Address : {{buyer_address}}</th>
      </tr>
      <tr>
        <th class="no-border">Store City : {{buyer_city}}</th>
      </tr>
      <tr>
        <th class="no-border">Contact No : {{buyer_contact_no}}</th>
      </tr>
    </thead>
	</table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product MRP</th>
        <th>Ordered Quantity</th>
        <th>No of Pieces</th>
        <th>Picked Quantity</th>
        <th>Remark</th>
      </tr>
    </thead>
    <tbody>
    {% for cart in cart_products %}
      <tr>
        <td>{{ cart.product_name }}</td>
        <td>{{ cart.product_mrp }}</td>
        <td>{{ cart.ordered_qty }}</td>
        <td>{{ cart.no_of_pieces }}</td>
        <td></td>
		<td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>


