{% extends "admin/change_form.html" %}
{% load static %}

{% block submit_buttons_bottom %}
    <div class="js-inline-admin-formset inline-group" data-inline-type="tabular" data-inline-formset="{&quot;name&quot;: &quot;#rt_order_product_order_product_mapping&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;rt_order_product_order_product_mapping&quot;, &quot;addText&quot;: &quot;Add another Ordered product mapping&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
        <h1 id="tot">Total:</h1>
    </div>
    {{ block.super }}
{% endblock %}
