{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Gramfactory') }}{% endblock %}

{% block extrastyle %}
     <link rel="stylesheet" type="text/css" href="{% static 'admin/css/header_sticky.css' %}"/>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin/img/logo-1.png' %}" height="40px" />
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
