{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load app_filters_gf_invoice%}
{% load humanize %}

<html>

	<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>tax invoice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{scheme}}://{{url}}/static/admin/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" type="text/css" href="{{scheme}}://{{url}}/static/admin/css/style.css">

	<style>
table tr td,th,h4,span,address{

			font-size:10px
		}
	</style>
</head>



<body>
    <div style="display:none"class="container-fluid">
			<div class="row">
			<div class="col-sm-6">
			<img src="{{scheme}}://{{url}}/static/admin/img/logo.png" style="width: 150px; padding: 10px 0px 10px">
			</div>

		</div>

		</div>
		<div class="row">
        <div class="col-xs-12">
          <div class="invoice-title col-md-12">
      			<div class="invoice col-sm-6"><strong><h4> Tax Invoice No: <span style="font-size:30px"class="invoice_no">{{shop.invoice_no}}</span></h4></strong></div>
						<div class="pull-right order_id col-sm-6">
	            {% if payment_type == 'neft' %}
	                <h4 style="font-size:30px">Prepaid Order</h4>
	            {% else %}
	                <h4 style="font-size:30px">Cash On Delivery</h4>
	            {% endif %}
  				<div class="pull-right"><strong><h4>Order Id: <span style="font-size:30px"class=" order_id_no ">{{ order_id }}</span></h4></strong></div></div>
      		</div>

    		<div class="row">
    			<div class="col-xs-6">
    				<address>
						<span>Invoice To :</span><br>
    				<strong>{{shop.order.billing_address.shop_name}}</strong><br>
    				{{shop.order.billing_address.nick_name}}, {{shop.order.billing_address.address_line1}}, {{shop.order.billing_address.city}}<br>
						<strong>GSTIN/UIN:</strong> <span>dfsfds</span><br>
						<strong>State Name:</strong> <span>{{shop.order.billing_address.state}} </span><strong>Code:</strong> <span>{{shop.order.billing_address.pincode}}</span><br>
						<strong>CIN No.:</strong> <span>---</span>
    				</address>

					<address>
						<span>Dispatch To :</span><br>
    				<strong>{{shop.order.shipping_address.shop_name}}</strong><br>
    				{{shop.order.shipping_address.nick_name}}, {{shop.order.shipping_address.address_line1}}, {{shop.order.shipping_address.city}}<br>
						<strong>GSTIN/UIN:</strong> <span>09AAQCA9570J1ZW</span><br>
						<strong>State Name:</strong> <span>{{shop.order.shipping_address.state}} </span><strong>Code:</strong> <span>{{shop.order.shipping_address.pincode}}</span><br>
						<strong>CIN No.:</strong> <span>---</span>
    				</address>
					<address>
						<span>GramFactory :</span><br>

    				<strong>{{shop_name_gram}}</strong><br>
    				{{nick_name_gram}}, {{address_line1_gram}}, {{city_gram}}<br>
						<strong>GSTIN/UIN:</strong> <span>{{m.GST_number}}</span><br>
						<strong>State Name:</strong> <span>{{state_gram}} </span><strong>Code:</strong> <span>{{pincode_gram}}</span><br>
						<strong>CIN No.:</strong> <span>---</span>

    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<div class="table">
    					<table class="table table-bordered">

                                <tr>

        							<td style="width: 50%" class="text-center"><strong>Voucher No.</strong><br>
									<span>{{shop.po_no}}</span>
									</td>
        							<td class="text-center"><strong>Dated <br>
{{shop.created_at}}</strong></td>


                                </tr>
    						 <tr>


        							<td class="text-center"></td>

        					<td class="text-center"><strong>Mode/Terms of Payment</strong><br>
								 <span>1 Days</span>
								 </td>


                                </tr>

						</table>
    			</div>
					<div class="table">
    					<table class="table table-bordered">

                                <tr>

        							<td style="width: 50%" class="text-center"><strong>Supplier's Ref./Order No.</strong><br><span>{{shop.po_no}}</span></td>
        							<td class="text-center"><strong>Delivery Note Date <br>
1 Days</strong></td>


                                </tr>
    						 <tr>

        							<td class="text-center"><strong>Despatched through</strong></td>
        							<td class="text-center"><strong>Destination</strong></td>


                                </tr>
							 <tr>

        							<td class="text-center" colspan="2"><strong>Terms of Delivery</strong><br>


								 </td>



                                </tr>

						</table>
    			</div>
    		</div>
			</div>

    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table">
    					<table class="table table-condensed">
    						<thead>
                      <tr>
        							<td><strong>Serial No.</strong></td>

												<td class="text-center"><strong>SKU</strong></td>
        							<td class="text-center"><strong>Description of Goods</strong></td>

        							<td class="text-center"><strong>HSN/SAC</strong></td>

											<td class="text-center"><strong>Tax Rate (GST+CESS+SURCHARGE)</strong></td>
                      <td class="text-center"><strong>Tax Amount</strong></td>
						  <td class="text-center"><strong>Inner Case Size</strong></td>
									    <td class="text-center"><strong>Quantity</strong></td>
											<td class="text-center"><strong>No. of Pieces</strong></td>
        							<td class="text-center"><strong>Rate</strong></td>
        							<td class="text-center"><strong>Per</strong></td>
        							<td class="text-right"><strong>Amount</strong></td>
                      </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
                    {% for m in products %}
    								<td><strong>{{forloop.counter}}</strong></td>
										<td class="text-center">{{ m.product.product_sku}}</td>
    								<td class="text-center">{{ m.product.product_short_description}}</td>
    								<td class="text-center">{{ m.product.product_hsn}}</td>
										{% if m.get_products_gst_cess_gf %}
									 <td class="text-center"><strong>{{ m.get_products_gst_tax_gf.last.tax.tax_percentage |add:m.get_products_gst_cess_gf.last.tax.tax_percentage }}%</strong></td>
										{% else %}
										<td class="text-center"><strong>{{ m.get_products_gst_tax_gf.last.tax.tax_percentage}}%</strong></td>
										{% endif %}
									<td class="text-center">{{ m.product.product_inner_case_size }}</td>


									<td class="text-center">{{m.shipped_qty}}</td>
									<div style="display:none"> {{m.shipped_qty | shipped_qty|floatformat:"0"}}</div>
									<td class="text-center">{{m.product.product_inner_case_size | inner_case_size}}</td>
									{% for h in m.get_shop_specific_products_prices %}
    								<td class="text-center">{{h.price_to_retailer}}</td>
										{% endfor %}
    								<td class="text-center">PCS</td>
										   <div style="display:none"> {{m.shipped_qty | shipped_qty}}</div>
											 <div style="display:none"> {{m.product.product_inner_case_size | inner_case_size}}</div>
                    {% for h in m.get_shop_specific_products_prices %}
    								<td class="text-right">{{h.price_to_retailer | price_to_retailer | intcomma }}/-</td>
										{% endfor %}
    							</tr>
									{% endfor %}

    							<tr>
									<td></td>

									<td></td>
									<td><strong></strong></td>

									<td></td>
									<td></td>
									<td></td>


<td class="text-center"></td>
								  <td class="thick-line text-center"><strong>{{sum_qty}} PCS</strong></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong></strong></td>
    								<td class="thick-line text-right"><strong>₹{{sum_amount | intcomma }}/-</strong></td>
    							</tr>
									{% if shop.order.seller_shop.shop_name_address_mapping.all == shop.order.shipping_address %}
    							<tr style="display:none">

									<td class="no-line"></td>
									<td class="no-line"></td>
									<td class="no-line"></td>

									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
										<td class="no-line"></td>
    								<td class="no-line text-center"><strong>CGST</strong></td>
    								<td class="no-line text-right"><strong>₹{{cgst | floatformat:2 }}/-</strong></td>
    							</tr>
								<tr style="display:none">

    								<td class="no-line"></td>
									<td class="no-line"></td>
										<td class="no-line"></td>

									<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
										<td class="no-line"></td>
    								<td class="no-line text-center"><strong>SGST</strong></td>
    								<td class="no-line text-right"><strong>₹ {{sgst | floatformat:2 }}/-</strong></td>
    							</tr>
									{% else %}
									<tr style="display:none">

	    								<td class="no-line"></td>
										<td class="no-line"></td>
											<td class="no-line"></td>

										<td class="no-line"></td>
										<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
											<td class="no-line"></td>
	    								<td class="no-line text-center"><strong>IGST</strong></td>
	    								<td class="no-line text-right"><strong>₹ {{igst | floatformat:2 }}/-</strong></td>
	    							</tr>
										{% endif %}
								<tr style="display:none">


    								<td class="no-line"></td>
									<td class="no-line"></td>
									<td class="no-line"></td>

    								<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
										<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Cess</strong></td>
    								<td class="no-line text-right"><strong>₹ {{cess | floatformat:2 }}/-</strong></td>
    							</tr>
									<tr>


	    								<td class="no-line"></td>
										<td class="no-line"></td>
										<td class="no-line"></td>

	    								<td class="no-line"></td>
										<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
											<td class="no-line"></td>
	    								<td class="no-line text-center"><strong>Surcharge</strong></td>
	    								<td class="no-line text-right"><strong>₹ {{surcharge | floatformat:2 }}/-</strong></td>
	    							</tr>

    							<tr>

										<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>

    								<td class="no-line"></td>
									<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
										<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right" style="width:120px"><strong>₹ {{total_amount | intcomma}}/- </strong></td>
    							</tr>

								<tr>
								<td colspan="12"></td>
								</tr>
								<tr>
        							<td colspan="8" class="no-line"><strong>Amount Chargeable (in words)</strong></td>
        							<td class="no-line">E . &amp; O . E</td>
                                </tr>
								<tr>
									{% if total_amount.is_integer %}
												<td colspan="11"><strong>INR {{total_amount_int | amount }} only</strong></td>
												{% else %}
												<td colspan="11"><strong>INR {{total_amount | amount }} paise only</strong></td>
												{% endif %}
                                </tr>
    						</tbody>
    					</table>

    				</div>

    				<div class="table">


						<div class="table">
    					<table class="table table-bordered">
    						<thead>

								<tr>

        							<td class="text-left" colspan="10">


						<strong>Supplier's Service Tax No:</strong> <span>NA</span><br>
										<strong>Company's PAN:</strong> <span>09AAQCA9570J1ZW</span><br>

									</td>



                                </tr>

							</thead>

							</table>
    				</div>
						<div class="table">
    					<table class="table table-bordered">
    						<thead>

								<tr>

        							<td class="text-left" colspan="5">
								<strong>Declaration</strong> <br>
We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.
									</td>
        							<td class="text-right" colspan="5" height="100">

										<strong>For Addistro Technologies Pvt Ltd</strong> <br>
 Authorised Signatory
									</td>


                                </tr>

							</thead>

							</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

</div>
	</div>


</body></html>
