{% load rest_framework %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Invoice Details</title>
	<!--[if lte IE 8]>
<link rel="stylesheet" media="print" href="/print.css" type="text/css" />
<![endif]-->
	<style>



	table { border: 2px single black; }
td { border: thin single black collapse; table-layout:auto;padding:2px}



	body,td,th {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #686767; font-size:10px;
	;
}
	 table tr td{ width:auto; overflow: hidden; word-wrap: break-word; height: auto;}



	@media print {
     body{
         width: 21cm;
         height: 29.7cm;

         /* change the margins as you want them to be. */
    }
 }
    </style>

</head>

<body>
	<table border="1" cellpadding="0" cellspacing="0"  align="center" width="100%" heigh="842px">
<!-- Row A -->
<tr>
    <td colspan="3" rowspan="3" align="left" valign="top">Addistro Technologies Pvt Ltd (Delhi)
1st Floor, 241, Pocket 8, Rohini Sector 24, North W est Delhi, Delhi, 110085
Delhi - 110085, India
GSTIN/UIN: 07AAQCA9570J1Z0</td>
    <td colspan="3"> Credit Note No. e-Way Bill No.
C.N/10034/18-19</td>
    <td colspan="3" align="left" valign="bottom" nowrap="nowrap"><h4><strong>Dated</strong> </h4> 17-Oct-2018</td>


</tr>
<!-- Row B -->
<tr>
    <td colspan="3"> 2</td>
	<td colspan="3" align="left" valign="bottom"> Mode/Terms of Payment<br> <strong>1 Days</strong></td>


</tr>
<!-- Row C -->

	<tr>
   <td colspan="3" align="left" valign="middle"><strong>Buyer's Ref.</strong> <br> ADT/07/10041 dt. 17-Oct-2018</td>
    <td colspan="3" align="left" valign="top"> Other Reference(s)</td>


</tr>
<!-- Row D -->

<tr>

    <td colspan="3" rowspan="5" align="left" valign="top">

<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left"  >

	<tr>

	<td  align="left">Party</td>



			</tr>
		<tr>

	<td  align="left"><h3>{{order.buyer_shop.shop_name}}</h3></td>


			</tr>

			<tr>
	<td >{{order.billing_address.address_line1}}</td>


			</tr>
			<tr>
	<td colspan="3">GSTIN/UIN :</td>
    <td colspan="3">{{order.buyer_shop.shop_document_number}}</td>



			</tr>

			<tr>
	<td colspan="3">PAN/IT No :</td>
    <td colspan="3">2</td>



			</tr>

			<tr>
	<td colspan="3">State Name :</td>
    <td colspan="3">{{order.billing_address.state.state_name}}</td>



			</tr>

			<tr>
	<td colspan="3">Place of Supply :</td>
    <td colspan="3">{{order.billing_address.state.state_name}}, {{order.billing_address.nick_name}}</td>



			</tr>
			<tr>
	<td colspan="3">Contact person :</td>
    <td colspan="3">{{order.billing_address.address_contact_name}}</td>



			</tr>
			<tr>
	<td colspan="3">Contact :</td>
    <td colspan="3">{{order.billing_address.address_contact_number}}</td>



			</tr>
			<tr>
	<td colspan="3">Fax :</td>
    <td colspan="3">0120-4252813</td>



			</tr>
<tr>
	<td colspan="3">E-Mail :</td>
    <td colspan="3">{{order.user.email}}</td>



			</tr>
		</table>

	</td>
	<td colspan="4" height="0"></td>

</tr>
<tr>

    <td colspan="3" align="left" valign="top">Buyer's Order No: {{order.order_no}}</td>
    <td colspan="3" align="left" valign="top">Dated</td>



</tr>
<!-- Row E -->
<tr>
    <td colspan="3" align="left" valign="top">Dispatch Document No.</td>
    <td colspan="3">3</td>



</tr>
<tr>
    <td colspan="3" align="left" valign="top">Dispatched through</td>
    <td colspan="3" align="left" valign="top">Destination</td>



</tr>
		<tr>
    <td colspan="6" align="left" valign="top">Terms of Delivery<br>
Addistro Technologies Pvt Ltd (Delhi) 1st Floor, 241, Pocket 8, Rohini Sector 24, North W est Delhi, Delhi, 110085 Delhi - 110085, India GSTIN/UIN: 07AAQCA9570J1Z0Addistro Technologies Pvt Ltd (Delhi) 1st Floor, 241, Pocket 8, Rohini Sector 24, North W est Delhi, Delhi, 110085 Delhi - 110085, India GSTIN/UIN: 07AAQCA9570J1Z0

</td>




</tr>
		<tr>
			<td colspan="8">
		<table width="100%"  cellspacing="0" cellpadding="0" border="1" align="left">
		<tr>
    <th>SI NO.</th>
    <th >Description of Goods</th>
    <th >GST Rate</th>
    <th >Quantity</th>
	<th>Rate</th>
			<th >Per</th>
    <th >Amount</th>




</tr>

  {% for product in products %}
<tr>
	<td>{{ forloop.counter }}</td>
	<td>{{product.product.product_short_description}}</td>
    {% for tax in product.product.product_pro_tax.all %}
	     <td>{{tax.tax.tax_percentage}}%</td>
	  {% endfor %}
	<td>{{product.shipped_qty}}</td>
	  {% for price in product.product.product_pro_price.all %}
	<td>{{price.price_to_retailer}}/-</td>
	  {% endfor %}
	<td>PCS</td>
	<td>NA</td>

    <td  colspan="2"></td>

</tr>
  {% endfor %}

	</table>
			</td>
		</tr>

<tr>
	<td colspan="8">
		<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="1" align="left">
		<td>Amount Chargeable (in words) </td>
	    <td>E. & O.E </td>
		<tr><td colspan="8">INR Twenty Thousand Five Hundred Forty Six and Five paise Only</td></tr>


		</table>
	</td>
		</tr>
		<tr>
			<td colspan="8">
			<table width="100%"  cellspacing="0" cellpadding="0" border="1" align="left">
     <td colspan="3" rowspan="2">HSN/SAC</td>
    <td colspan="2" rowspan="2">Taxable Value</td>
    <td colspan="2">Central Tax</td>
    <td colspan="2">State Tax</td>
    <td colspan="2" rowspan="2">Total Tax Amount</td>

		<tr>


    <td c>Rate</td>
    <td>Amount</td>
    <td>Rate</td>
    <td>Amount</td>


</tr>
		<tr>
     <td colspan="3">
		<table>
		{% for product in products %}
		 <tr>
			<td>{{product.product.product_hsn}}</td>

			</tr>
		{% endfor %}
		 		 </table>
			</td>

    <td >
		<table>
		 <tr>
			<td>34011190</td>

			</tr>
		 <tr>
			<td>34022090</td>

			</tr>
			<tr>
			<td>38089400</td>

			</tr>
		 </table>
			</td>

    <td colspan="2">
		<table>
		 <tr>
			<td>34011190</td>

			</tr>
		 <tr>
			<td>34022090</td>

			</tr>
			<tr>
			<td>38089400</td>

			</tr>
		 </table>
			</td>
	<td >
		<table>
		 <tr>
			<td>34011190</td>

			</tr>
		 <tr>
			<td>34022090</td>

			</tr>
			<tr>
			<td>38089400</td>

			</tr>
		 </table>
			</td>
    <td colspan="">
		<table>
		 <tr>
			<td>34011190</td>

			</tr>
		 <tr>
			<td>34022090</td>

			</tr>
			<tr>
			<td>38089400</td>

			</tr>
		 </table>
			</td>
     <td colspan="">
		<table>
		 <tr>
			<td>34011190</td>

			</tr>
		 <tr>
			<td>34022090</td>

			</tr>
			<tr>
			<td>38089400</td>

			</tr>
		 </table>
			</td>
			 <td colspan="">
		<table>
		 <tr>
			<td>34011190</td>

			</tr>
		 <tr>
			<td>34022090</td>

			</tr>
			<tr>
			<td>38089400</td>

			</tr>
		 </table>
			</td>
</tr>
		<tr>

    <td colspan="3" align="right" valign="top">Total</td>
    <td></td>
  <td colspan="2"></td>
	<td></td>
    <td></td>
     <td></td>
			<td></td>
</tr>
				<tr>
	<td colspan="10">
		<table width="100%" cellspacing="0" cellpadding="0" border="1" align="left">
					<tr>
						<td colspan="2">Tax Amount (in words) :</td>
						<td colspan="6"> INR Three Thousand One Hundred Thirty Four and Sixteen paise Only</td></tr>
		<td colspan="6" >
		<table>
		 <tr>
			<td>Party's Service Tax No. :</td>
			<td> NA</td>
			</tr>
		 <tr>
			<td>Company's PAN  :</td>
			<td>AAQCA9570J</td>
			</tr>

		 </table>

			</td>
	    <td>E. & O.E </td>


		</table>
	</td>
		</tr>

				</table>
			</td>

</tr>
</table>



</body>
</html>
