{% extends "admin/change_list.html" %}
{% load humanize admin_list%}
{% block content_title %}
    <h1> Order List </h1>
{% endblock %}

{% block result_list %}
          {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    <div class="results">
        <table>
            <thead>
            <tr>
                <th scope="col" class="action-checkbox-column">
                    <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                    <div class="clear"></div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Order No</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Download Pick List</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Seller Shop</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Buyer Shop</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Order Amount</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Order Status</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Created At</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Payment Mode</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Picking Status</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Picker Name</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Invoice No</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Shipment Created Date</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Invoice Amount</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Shipment Status</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Delivery Date</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">CN Amount</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Cash Collected</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Damaged Amount</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Delivered Amount</a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for row in summary %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="{{ row.pk}}" class="action-select"></td>
                    <td id="{{ row.pk}}-order_no"> {{ row.order_no }} </td>
                    <td id="{{ row.pk}}-download_pick_list"><a href= "/retailer/sp/download-pick-list-sp/{{ row.pk}}/list/" >Download Pick List</a></td>
                    <td id="{{ row.pk}}-seller_shop"> - </td>
                    <td id="{{ row.pk}}-buyer_shop"> - </td>
                    <td id="{{ row.pk}}-total_final_amount"> {{ row.total_final_amount }} </td>
                    <td id="{{ row.pk}}-order_status"> - </td>
                    <td id="{{ row.pk}}-created_at"> {{ row.created_at }} </td>
                    <td id="{{ row.pk}}-payment_mode"> - </td>
                    <td id="{{ row.pk}}-picking_status"> - </td>
                    <td id="{{ row.pk}}-picker_name"> - </td>
                    <td id="{{ row.pk}}-invoice_no"> - </td>
                    <td id="{{ row.pk}}-shipment_created_date"> - </td>
                    <td id="{{ row.pk}}-invoice_amount"> - </td>
                    <td id="{{ row.pk}}-shipment_status"> - </td>
                    <td id="{{ row.pk}}-delivery_date"> - </td>
                    <td id="{{ row.pk}}-cn_amount"> - </td>
                    <td id="{{ row.pk}}-cash_collected"> - </td>
                    <td id="{{ row.pk}}-damaged_amount"> - </td>
                    <td id="{{ row.pk}}-delivered_amount"> - </td>
                    <!--<td id="123"> {{ row.total_mrp | intcomma }} </td>-->
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
{% block pagination %} {{ block.super }} {% endblock %} <!-- pagination -->
