@charset "UTF-8";
/* CSS Document */



     body{
         width: 90mm;
		 margin-left:5px;
		 font-size:14px
}

.address{
width:100%;
text-align:center;
border-bottom:2px solid black;
padding-bottom:20px
}
.user-info{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid grey

}

.user-info .tcolumn {
		padding:5px;

}
.user-info .left {
		width:30%;

}
.items{
	padding-top:10px;
	text-align:left;

}
.items tr td{
    vertical-align: top;
	padding:4px;
	text-align: left;
}

.items tr td.line{
	border-top:2px solid black
}

.div-table {
    display: table;
    width: 100%;
}

.trow {
    display: table-row
}

.tcolumn {
    display: table-cell;
    vertical-align: top;
	padding:5px;
	padding-top:10px;
}

.items .theader .tcolumn{

border-bottom:1px solid grey
}

.tcolumn1 {
		font-weight:bold;
		padding:5px

}

.item_name{
	width:30%
}

.footer{
	padding-top:20px
}