{% extends "admin/change_form.html" %}
{% load static %}
{% block admin_change_form_document_ready %}
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>
{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
  <ul class="object-tools">

    {% block object-tools-items %}
      {{ block.super }}
      {% if original.pk is not None %}
        <li><a href="{% url 'admin:download-po-items' original.pk %}" class="historylink">Download PO Items</a></li>
      {% endif %}
    {% endblock %}
  </ul>
{% endblock %}

        {{ block.super }}
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="js-inline-admin-formset inline-group" data-inline-type="tabular" data-inline-formset="{&quot;name&quot;: &quot;#rt_order_product_order_product_mapping&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;rt_order_product_order_product_mapping&quot;, &quot;addText&quot;: &quot;Add another Ordered product mapping&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
        <h1 id="tot">Total:</h1>
        <div class="tabular inline-related last-related">
          <fieldset id="inline" class="module "><h2>Messages</h2>
          <table id="formset" class="form">
             <tbody id="data">
                <tr id="heading" style="display: table-row;">
                   <th>User</th>
                   <th>Message</th>
                   <th>Date</th>
                </tr>
                <tr id="loading" style="text-align: center">
                   <th colspan="3">Loading...</th>
                </tr>
              </thead>
          </table>
         </fieldset>
       </div>
    </div>

        {{ block.super }}
        {%  if request.user.is_superuser or perms.gram_to_brand.can_approve_and_disapprove %}
        <div class="submit-row">
                <textarea rows="4" name="message" cols="50"></textarea>
                <input type="submit" value="Approve" name="_approve">
        </div>
        {% endif %}
{% endblock %}
