{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block content %}
    <!--<div id="content-main">-->
        <!--<form action="#" method="post" enctype="multipart/form-data">-->
            <!--{% csrf_token %}-->
            <!--{{ form.media }}-->
            <!--{{ form.as_p }}-->
            <!--<button onclick="window.history.back();" class="btn btn-default" type="button">Back</button>-->
                <!--<br/> <br/>-->
            <!--<br/>-->
            <!--<table>-->
                <!--<thead>-->
                    <!--<tr>-->
                    <!--<th scope="col" class="action-checkbox-column">-->
                        <!--<div class="text"><span></div>-->
                    <!--</th>-->
                    <!--<th scope="col" class="sortable column-loan_no">-->
                        <!--<div class="text"><a href="?o=1">Product Name</a></div>-->
                    <!--</th>-->
                    <!--<th scope="col" class="sortable column-created_at">-->
                        <!--<div class="text"><a href="?o=2">Avilable Qty</a></div>-->
                    <!--</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--{% for dt in shop_products %}-->
                <!--<tr class="row" >-->
                    <!--<td class="field-borrower_email"></td>-->
                    <!--<td class="field-borrower_email">{{ dt.product__product_name }}</td>-->
                    <!--<td class="field-borrower_mobile_no">{{ dt.product_qty_sum }}</td>-->
                <!--</tr>-->
                <!--{% endfor %}-->
                <!--</tbody>-->

            <!--</table>-->

        <!--</form>-->
    <!--</div>-->
        <!-- Content -->
        <button onclick="window.history.back();" class="btn btn-default" type="button">Back</button>    
      <div id="content" class="flex">
        <h1>Products List</h1>
        <div id="content-main">
          <!--<ul class="object-tools">-->
            <!--<li>-->
              <!--<a href="/admin/addresses/state/add/" class="addlink">Add state</a>-->
            <!--</li>-->
          <!--</ul>-->
          <div class="module filtered" id="changelist">
            <!--<div id="toolbar"><form id="changelist-search" method="get">-->
              <!--<div>-->
                <!--&lt;!&ndash; DIV needed for valid HTML &ndash;&gt;-->
                <!--<label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>-->
                <!--<input type="text" size="40" name="q" value="" id="searchbar" autofocus="">-->
                <!--<input type="submit" value="Search">-->
              <!--</div>-->
            <!--</form>-->
            <!--</div>-->
            <!--<div id="changelist-filter">-->
              <!--<h2>Filter</h2>-->
              <!--<h3> By country </h3>-->
              <!--<ul>-->
                <!--<li class="selected"><a href="?" title="All">All</a></li>-->
                <!--<li><a href="?country__id__exact=1" title="india">india</a></li>-->
                <!--<li><a href="?country__isnull=True" title="-">-</a></li>-->
              <!--</ul>-->
              <!--<h3> By state name </h3>-->
              <!--<ul>-->
                <!--<li class="selected"><a href="?" title="All">All</a></li>-->
                <!--<li><a href="?state_name=Haryana" title="Haryana">Haryana</a></li>-->
                <!--<li><a href="?state_name=New+Delhi" title="New Delhi">New Delhi</a></li>-->
              <!--</ul>-->
              <!--<h3> By status </h3>-->
              <!--<ul>-->
                <!--<li class="selected"><a href="?" title="All">All</a></li>-->
                <!--<li><a href="?status__exact=1" title="Yes">Yes</a></li>-->
                <!--<li><a href="?status__exact=0" title="No">No</a></li>-->
              <!--</ul>-->
            <!--</div>-->

            <form id="changelist-form" method="post" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="lsPDQiH5QlcaxZsIGLxx8rPWDrRCw6CZaNqTMif6IplubX0k1JX6vLhZZ9iLtVpV">
              <!--<div class="actions">-->
                <!--<label>Action:-->
                  <!--<select name="action" required="">-->
                    <!--<option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                    <!--<option value="delete_selected">Delete selected states</option>-->
                  <!--</select>-->
                <!--</label>-->
                <!--<input type="hidden" name="select_across" value="0" class="select-across">-->
                <!--<button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>-->
                <!--<span class="action-counter" data-actions-icnt="2" style="display: inline;">0 of 2 selected</span>-->
              <!--</div>-->
              <div class="results">
                <table id="result_list">
                  <thead>
                    <tr>
                      <th scope="col" class="action-checkbox-column">
                        <div class="text"></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-country">
                        <div class="text"><a href="?o=1">Product Name</a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-state_name">
                        <div class="text"><a href="?o=2">Available Qty </a></div>
                        <div class="clear"></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dt in shop_products %}
                    <tr class="row1">
                        <td class="action-checkbox"></td>
                        <th class="field-country nowrap">{{ dt.product__product_name }}</th>
                        <td class="field-state_name">{{ dt.product_qty_sum }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!--<p class="paginator">2 states</p>-->
            </form>
          </div>
        </div>
        <br class="clear">
      </div>

{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">{% trans "Home" %}</a> >
        <a href="/admin/shops/">{% trans "Shops" %}</a> >
        Product list
    </div>{% endblock %}
{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" >
{% endblock %}

<html lang="en-us">
  <head>
    <title>Select state to change | Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
  </head>

<body class=" app-addresses model-state change-list" data-admin-utc-offset="19800">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
        <h1 id="site-name">
            <a href="/admin/">
                <img src="/static/admin/img/logo-1.png" height="40px">
            </a>
        </h1>
        </div>

        <div id="user-tools">
                Welcome,
                <strong>9911703645</strong>
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>
        </div>
    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
    <a href="/admin/">Home</a>
    › <a href="/admin/addresses/">Addresses</a>
    › States
    </div>

    <!-- Content -->
      <div id="content" class="flex">
        <h1>Select state to change</h1>
        <div id="content-main">
          <!--<ul class="object-tools">-->
            <!--<li>-->
              <!--<a href="/admin/addresses/state/add/" class="addlink">Add state</a>-->
            <!--</li>-->
          <!--</ul>-->
          <div class="module filtered" id="changelist">
            <!--<div id="toolbar"><form id="changelist-search" method="get">-->
              <!--<div>-->
                <!--&lt;!&ndash; DIV needed for valid HTML &ndash;&gt;-->
                <!--<label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>-->
                <!--<input type="text" size="40" name="q" value="" id="searchbar" autofocus="">-->
                <!--<input type="submit" value="Search">-->
              <!--</div>-->
            <!--</form>-->
            <!--</div>-->
            <!--<div id="changelist-filter">-->
              <!--<h2>Filter</h2>-->
              <!--<h3> By country </h3>-->
              <!--<ul>-->
                <!--<li class="selected"><a href="?" title="All">All</a></li>-->
                <!--<li><a href="?country__id__exact=1" title="india">india</a></li>-->
                <!--<li><a href="?country__isnull=True" title="-">-</a></li>-->
              <!--</ul>-->
              <!--<h3> By state name </h3>-->
              <!--<ul>-->
                <!--<li class="selected"><a href="?" title="All">All</a></li>-->
                <!--<li><a href="?state_name=Haryana" title="Haryana">Haryana</a></li>-->
                <!--<li><a href="?state_name=New+Delhi" title="New Delhi">New Delhi</a></li>-->
              <!--</ul>-->
              <!--<h3> By status </h3>-->
              <!--<ul>-->
                <!--<li class="selected"><a href="?" title="All">All</a></li>-->
                <!--<li><a href="?status__exact=1" title="Yes">Yes</a></li>-->
                <!--<li><a href="?status__exact=0" title="No">No</a></li>-->
              <!--</ul>-->
            <!--</div>-->

            <form id="changelist-form" method="post" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="lsPDQiH5QlcaxZsIGLxx8rPWDrRCw6CZaNqTMif6IplubX0k1JX6vLhZZ9iLtVpV">
              <!--<div class="actions">-->
                <!--<label>Action:-->
                  <!--<select name="action" required="">-->
                    <!--<option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                    <!--<option value="delete_selected">Delete selected states</option>-->
                  <!--</select>-->
                <!--</label>-->
                <!--<input type="hidden" name="select_across" value="0" class="select-across">-->
                <!--<button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>-->
                <!--<span class="action-counter" data-actions-icnt="2" style="display: inline;">0 of 2 selected</span>-->
              <!--</div>-->
              <div class="results">
                <table id="result_list">
                  <thead>
                    <tr>
                      <th scope="col" class="action-checkbox-column">
                        <div class="text"><span></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-country">
                        <div class="text"><a href="?o=1">Country</a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-state_name">
                        <div class="text"><a href="?o=2">State name</a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-status">
                        <div class="text"><a href="?o=3">Status</a></div>
                        <div class="clear"></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row1">
                        <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="6" class="action-select"></td>
                        <th class="field-country nowrap"><a href="/admin/addresses/state/6/change/">india</a></th>
                        <td class="field-state_name">Haryana</td>
                        <td class="field-status"><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
                    </tr>
                    <tr class="row2">
                        <td class="action-checkbox">
                            <!--<input type="checkbox" name="_selected_action" value="5" class="action-select">-->
                        </td>
                        <th class="field-country nowrap"><a href="/admin/addresses/state/5/change/">india</a></th>
                        <td class="field-state_name">New Delhi</td>
                        <td class="field-status"><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--<p class="paginator">2 states</p>-->
            </form>
          </div>
        </div>
        <br class="clear">
      </div>




    <!-- END Content -->
      <div id="footer"></div>
</div>
<!-- END Container -->



</body></html>
