{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block content %}

        <!-- Content -->
    <button onclick="window.history.back();" class="btn btn-default" type="button">Back</button>
      <div id="content" class="flex">
        <h1>Products List</h1>
        <div id="content-main">
          <div class="module filtered" id="changelist">

            <form id="changelist-form" method="post" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="lsPDQiH5QlcaxZsIGLxx8rPWDrRCw6CZaNqTMif6IplubX0k1JX6vLhZZ9iLtVpV">
              <div class="results">
                <table id="result_list">
                  <thead>
                    <tr>
                      <th scope="col" class="action-checkbox-column">
                        <div class="text"></div>
                        <div class="clear"></div>
                      </th>

                      <th scope="col" class="sortable column-country">
                        <div class="text"><a href="?o=1">Product ID</a></div>
                        <div class="clear"></div>
                      </th>

                      <th scope="col" class="sortable column-country">
                        <div class="text"><a href="?o=2">GF code</a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-country">
                        <div class="text"><a href="?o=3">Product Name</a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-state_name">
                        <div class="text"><a href="?o=4">Available Qty </a></div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col" class="sortable column-state_name">
                        <div class="text"><a href="?o=5">Damaged Qty </a></div>
                        <div class="clear"></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dt in shop_products %}
                    <tr class="row1">
                        <td class="action-checkbox"></td>
                        <th class="field-country nowrap">{{ dt.product }}</th>
                        <th class="field-country nowrap">{{ dt.product__product_gf_code }}</th>
                        <th class="field-country nowrap">{{ dt.product__product_name }}</th>
                        <td class="field-state_name">{{ dt.product_qty_sum }}</td>
                        <td class="field-state_name">{{ dt.damaged_qty_sum }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!--<p class="paginator">2 states</p>-->
            </form>
          </div>
          <div>You can <a href="{% url 'admin:StockAdjustment' shop_id=shop.id %}">Upload Stock list</a> to update the stocks </div>
        </div>
        <br class="clear">
      </div>

{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">{% trans "Home" %}</a> >
        <a href="/admin/shops/">{% trans "Shops" %}</a> >
        Product list
    </div>{% endblock %}
{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" >
{% endblock %}
